#define IDC_STC2 1104
#define IDC_EDT2 1105
#define IDD_INFO_FILE 1000
#define IDC_GRP1 1015
#define IDC_IMG_FILEICON 1002
#define IDC_EDT_FILENAME 1004
#define IDC_STC_FILEPATH 1003
#define IDC_EDT_FILEPATH 1001
#define IDC_STC_FILESIZE 1007
#define IDC_EDT_FILESIZE 1006
#define IDC_GRP2 1010
#define IDC_STC_CREATED 1005
#define IDC_EDT_CREATED 1008
#define IDC_STC_MODIFIED 1009
#define IDC_EDT_MODIFIED 1012
#define IDC_BTN1 1014
#define IDD_INFO_DOC 1100
#define IDC_GRP_GEN 1106
#define IDC_STC_CODEPAGE 1103
#define IDC_EDT_CODEPAGE 1102
#define IDC_STC_LINES 1104
#define IDC_EDT_LINES 1105
#define IDC_STC_CHARS 1101
#define IDC_EDT_CHARS 1107
#define IDC_GRP_CNT 1110
#define IDC_STC_CHARSNOSP 1108
#define IDC_EDT_CHARSNOSP 1109
#define IDC_STC_SMTH 1111
#define IDC_EDT_SMTH 1112
#define IDC_PGB_PROCESS 1113
#define IDC_BTN_STOP 1114
#define IDC_STC_WORDS 1115
#define IDC_EDT_WORDS 1116
#define IDD_DLG_MAIN 1200
#define IDC_TAB 1201
#define IDC_BTN_OK 1

#include "winresrc.h"

IDD_INFO_FILE DIALOGEX 0,0,156,144
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|WS_CAPTION|DS_CONTROL|DS_SETFONT
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_IMG_FILEICON,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN|SS_REALSIZEIMAGE|SS_ICON,6,6,24,24
  CONTROL "",IDC_EDT_FILENAME,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,36,9,114,12
  CONTROL "",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,33,150,45
  CONTROL "STC",IDC_STC_FILEPATH,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,45,36,9
  CONTROL "",IDC_EDT_FILEPATH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,45,42,105,12
  CONTROL "STC",IDC_STC_FILESIZE,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,63,36,9
  CONTROL "",IDC_EDT_FILESIZE,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,45,60,105,12
  CONTROL "",IDC_GRP2,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,78,150,45
  CONTROL "STC",IDC_STC_CREATED,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,90,36,9
  CONTROL "",IDC_EDT_CREATED,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,45,87,105,12
  CONTROL "STC",IDC_STC_MODIFIED,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,108,36,9
  CONTROL "",IDC_EDT_MODIFIED,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,45,105,105,12
  CONTROL "BTN",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,126,42,12
END

IDD_INFO_DOC DIALOGEX 0,0,159,141
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|DS_CONTROL|DS_SETFONT
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_GRP_GEN,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,3,150,54
  CONTROL "STC",IDC_STC_CODEPAGE,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,14,60,9
  CONTROL "",IDC_EDT_CODEPAGE,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,90,12,57,12
  CONTROL "STC",IDC_STC_LINES,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,29,60,9
  CONTROL "",IDC_EDT_LINES,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,90,27,57,12
  CONTROL "STC",IDC_STC_CHARS,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,45,60,9
  CONTROL "",IDC_EDT_CHARS,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,90,42,57,12
  CONTROL "",IDC_GRP_CNT,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,57,150,75
  CONTROL "STC",IDC_STC_CHARSNOSP,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,84,69,9
  CONTROL "",IDC_EDT_CHARSNOSP,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,90,81,57,12
  CONTROL "STC",IDC_STC_SMTH,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,99,69,9
  CONTROL "",IDC_EDT_SMTH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,90,96,57,12
  CONTROL "",IDC_PGB_PROCESS,"msctls_progress32",WS_CHILDWINDOW|WS_VISIBLE,9,117,90,12
  CONTROL "BTN",IDC_BTN_STOP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,105,117,45,12
  CONTROL "STC",IDC_STC_WORDS,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,69,69,9
  CONTROL "",IDC_EDT_WORDS,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_READONLY,90,66,57,12
END

IDD_DLG_MAIN DIALOGEX 0,0,171,189
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
EXSTYLE WS_EX_CONTROLPARENT
BEGIN
  CONTROL "",IDC_TAB,"SysTabControl32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|TCS_FOCUSNEVER,3,3,165,165,WS_EX_CONTROLPARENT
  CONTROL "IDC_BTN",IDC_BTN_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,126,171,42,15
END

